.to-top {
  width: 20px;
  height: 40px;
  position: absolute;
  bottom: 0%;
  right: 0%;
  padding: 2rem;
  background-color: var(--primary-color);
  cursor: pointer;
}

.to-top-icon {
  color: white;
}

.to-top:hover {
  background-color: var(--primary-color-alt);
}
