.each-project {
  width: 95% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--card-bg-color) !important;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15) !important;
  padding: 1.5rem;
  border-radius: 0.4rem;
}

.project-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.each-project-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Slider */

/* Arrows */
.slick-prev::before {
  color: var(--title-color) !important;
}

.slick-next:before {
  color: var(--title-color) !important;
}

/* Pagination */

.slick-dots li button:before {
  position: absolute;
  top: 50% !important;
  left: auto;
  color: var(--title-color) !important;
}

@media only screen and (max-width: 1000px) {
  .slick-slider {
    margin: 0 50px;
  }
}

@media only screen and (max-width: 750px) {
  .slick-slider {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 400px) {
  .slick-slider {
    margin: 0 20px;
  }
}
